html{
    height: auto;
    min-height: 100%;
}
.cabezera{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #FBFCFC;
}
.logo{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    cursor: pointer;
    display: flex;
    padding: 15px;
}
.logo h1{
    font-weight: 50;
    font-size: x-large;
}
ul, ol{
    list-style: none;
}
.navegador{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    cursor: pointer;
}
.navegador li a{
    color: #99A3A4;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    margin: 0px 10px 0px 10px;
    font-weight: 50;
    font-size: small;
}
.buscador{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.buscador input{
    font-size: small;
    padding: 0px 8px 0px 2px;
    margin: 30px;
}
.botonuno{
    color: #2E86C1;
    background-color: transparent;
    border: 1px solid #2E86C1;
    padding: 0px 5px 0px 5px;
    margin: 25px 2px 25px 2px;
}
.cursos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    position: relative;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: #F7F9F9;
}
.contenido {
    width: 33%;
    border: 1px solid transparent;
}
img{
    width: 100%;
    height: 150px;
}
.texto h2{
    font-size: medium;
}
.texto h3{
    font-size: small;
}
.texto p{
    font-size: smaller;
}
h4{
    font-weight: 50;
    font-size: small;
}
.parrafo{
    font-weight: 50;
    font-size: small;
    color: #99A3A4;
}
.botondos{
    color: #fff;
    border: 1px solid #3571D5;
    background-color: #3571D5;
    margin: 10px;
}
.barranavegador{
    padding: 5px 40% ;
    margin: 5px 10px;
}